:root {
    --font-headline: ;
    --font-text-family: 'Atkinson Hyperlegible Regular';
    --font-text-family-bold: 'Atkinson Hyperlegible';
    --font-size-h1: 6.353701548rem;
    --font-size-h2: 3.926886rem;
    --font-size-h3: 2.427rem;
    --font-size-h4: 1.5rem;
    --font-size-p: 1.5rem;
    --color-primary: #3824f2;
    --color-secondary: #f2d024;
    --color-tertiary: #e62253;   
    --color-black: #000000;
    --color-white: #ffffff;
    --padding-class: 3rem 1.5rem;
    --margin-class: 0rem 0rem 1.5rem
}

@font-face {
    font-family: 'Atkinson Hyperlegible';
    src:    url('../Fonts/Atkinson-Hyperlegible-Bold-102a.woff2') format('woff2'),
            url('../Fonts/Atkinson-Hyperlegible-BoldItalic-102a.woff2') format('woff2'),
            url('../Fonts/Atkinson-Hyperlegible-Italic-102a.woff2') format('woff2'),
            url('../Fonts/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2');
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Atkinson Hyperlegible Regular', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
}

h1 {
    font-family: var(--font-text-family-bold);
    font-size: var(--font-size-h1);
    line-height: 100%;
}

h2 {
    font-family: var(--font-text-family-bold);
    font-size: var(--font-size-h2);
}

h3 {
    font-family: var(--font-text-family-bold);
    font-size: var(--font-size-h3);
}

h4 {
        font-family: var(--font-text-family-bold);
        font-size: var(--font-size-h4);
}

p {
    font-family: var(--font-text-family);
    font-size: var(--font-size-p);
}

a {
    font-family: var(--font-text-family-bold);
    font-size: var(--font-size-p);
    color: black;
    background-color: white;
    text-decoration: none;
}

/* / / / CLASSES / / / */

.padding {
    padding: var(--padding-class);
}

.margin {
    margin: var(--margin-class);
}



/* / / / CLASSES / / / */

body {
    height: 100vh;
    min-height: 100vh;
}

/* / / / TOPBAR / / / */

.topbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-black);
    color: var(--color-white);
    min-height: 10vh;
}

.topbar::selection,.topbar *::selection {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



header {
    background-color: var(--color-primary);
    color: var(--color-white);
}

header *::selection {
    background-color: var(--color-white);
    color: var(--color-primary);
}




.introduction {
    background-color: var(--color-secondary);
    color: var(--color-black);
}

.introduction *::selection {
    background-color: var(--color-black);
    color: var(--color-secondary);
}



.about {
    background-color: var(--color-white);
    color: var(--color-black);
}

.about *::selection {
    background-color: var(--color-black);
    color: var(--color-white);
}

.about h2 {
    color: var(--color-primary);
}



.projects {
    background-color: var(--color-black);
    color: var(--color-white);
}

.projects *::selection {
    background-color: var(--color-white);
    color: var(--color-black);
}



.contact {
    background-color: var(--color-secondary);
    color: var(--color-black);
    
}

.contact *::selection {
    background-color: var(--color-black);
    color: var(--color-secondary);
}

.contact h2 {
    color: var(--color-tertiary);
}

.contact__form {
    /* next 3 lines allow button to be on the right */
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

footer {
    background-color: var(--color-black);
    color: var(--color-white);
}

footer *::selection {
    background-color: var(--color-white);
    color: var(--color-black);
}

/* / / / CONTACT INPUT / / / */

input {
    width: 100%;
    background-color: var(--color-tertiary);
    height: 5rem;
    border-style: none;
    font-family: var(--font-text-family);
    font-size: var(--font-size-p);
    color: var(--color-white);
  }

input[type=submit] {
    width: 33%;
    max-width: 15rem;
    height: 3rem;
    background-color: var(--color-primary);
}

input[type=textarea] {
    height: 15rem;
    word-wrap: break-word;
    word-break: break-word;
}

::placeholder {
    color: var(--color-white);
    font-size: var(--font-size-p);
}
