:root {
    --font-headline: ;
    --font-text-family: 'Atkinson Hyperlegible Regular';
    --font-text-family-bold: 'Atkinson Hyperlegible';
    --font-size-h1: 6.353701548rem;
    --font-size-h2: 3.926886rem;
    --font-size-h3: 2.427rem;
    --font-size-h4: 1.5rem;
    --font-size-p: 1.5rem;
    --font-size-small: 0.927070457rem;
    --color-primary: #3824f2;
    --color-secondary: #f2d024;
    --color-tertiary: #e62253;   
    --color-black: #000000;
    --color-white: #ffffff;
    --padding-class: 3rem 1.5rem;
    --padding-class-header: 3rem 1.5rem 0rem;
    --padding-class-topbar: 1rem 1.5rem;
    --padding-class-vertical: 3rem;
    --padding-class-horizontal: 1.5rem;
    --margin-class: 0rem 0rem 1.5rem;
    --margin-h4: 0 0 1.5rem 0;
    --topbar-height: 10vh;
    --transition-duration: 500ms;
    --transition-curve: cubic-bezier(0.75, 0, 0.25, 1);
}

@font-face {
    font-family: 'Atkinson Hyperlegible';
    src:    url('../Fonts/Atkinson-Hyperlegible-Bold-102a.woff2') format('woff2'),
            url('../Fonts/Atkinson-Hyperlegible-BoldItalic-102a.woff2') format('woff2'),
            url('../Fonts/Atkinson-Hyperlegible-Italic-102a.woff2') format('woff2'),
            url('../Fonts/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2');
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Atkinson Hyperlegible Regular', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
}

h1 {
    font-family: var(--font-text-family-bold);
    font-size: var(--font-size-h1);
    line-height: 100%;
}

h2 {
    font-family: var(--font-text-family-bold);
    font-size: var(--font-size-h2);
}

h3 {
    font-family: var(--font-text-family-bold);
    font-size: var(--font-size-h3);
}

h4 {
    font-family: var(--font-text-family-bold);
    font-size: var(--font-size-h4);
    margin: var(--margin-h4);
}

p {
    font-family: var(--font-text-family);
    font-size: var(--font-size-p);
}

a {
    font-family: var(--font-text-family-bold);
    font-size: var(--font-size-p);
    text-decoration: none;
}

.link:after {
    content: " 🡽";
}


a:link, a:visited, a:hover, a:active {
    color: inherit;
}

.fineprint {
    font-size: var(--font-size-small);
}
/* / / / CLASSES / / / */

.section--padding {
    padding: var(--padding-class);
}

.topbar--padding {
    padding: var(--padding-class-topbar);
}

.header--padding {
    padding: var(--padding-class-header);
}

.contact--margin {
    margin: var(--margin-class);
}



/* / / / CLASSES / / / */

body {
    height: 100vh;
    min-height: 100vh;
    padding-top: var(--topbar-height);
}


/* / / / TOPBAR / / / */

.topbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-black);
    color: var(--color-white);
    min-height: var(--topbar-height);
    max-height: var(--topbar-height);
    width: 100%;
    z-index: 5;
    top: 0;
    padding: var(--padding-class-topbar);
}

.topbar::selection,.topbar *::selection {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


header {
    background-color: var(--color-primary);
    color: var(--color-white);
}

header *::selection {
    background-color: var(--color-white);
    color: var(--color-primary);
}

.header__image {
    position: absolute;
    z-index: 10;
}


.introduction {
    background-color: var(--color-secondary);
    color: var(--color-black);
}

.introduction *::selection {
    background-color: var(--color-black);
    color: var(--color-secondary);
}



.about {
    background-color: var(--color-white);
    color: var(--color-black);
}

.about *::selection {
    background-color: var(--color-black);
    color: var(--color-white);
}

.about h2 {
    color: var(--color-primary);
}



.projects {
    background-color: var(--color-black);
    color: var(--color-white);
}

.projects *::selection {
    background-color: var(--color-white);
    color: var(--color-black);
}

.projects a {
    color: black;
    background-color: white;
}

.contact {
    background-color: var(--color-secondary);
    color: var(--color-black);
    
}

.contact *::selection {
    background-color: var(--color-black);
    color: var(--color-secondary);
}

.contact h2 {
    color: var(--color-tertiary);
}

.contact__form {
    /* next 3 lines allow button to be on the right */
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

footer {
    background-color: var(--color-black);
    color: var(--color-white);
}

footer *::selection {
    background-color: var(--color-white);
    color: var(--color-black);
}

.footer__icon {
    fill: var(--color-white);
    height: 3rem;
    margin: 0 1rem 0 0;
}

.footer__iconbar {
    display: flex;
}


/* / / / CONTACT INPUT / / / */

input {
    width: 100%;
    background-color: var(--color-tertiary);
    height: 5rem;
    border-style: none;
    border-width: 0;
    font-family: var(--font-text-family);
    font-size: var(--font-size-p);
    color: var(--color-white);
  }

input[type=submit] {
    width: 33%;
    max-width: 15rem;
    height: 3rem;
    background-color: var(--color-primary);
}

textarea {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 15rem;
    word-wrap: break-word;
    word-break: break-word;
}

::placeholder {
    color: var(--color-white);
    font-size: var(--font-size-p);
}

.elementspacing {
    margin: var(--margin-class);
}

/* BUTTON https://stackoverflow.com/questions/2460100/remove-the-complete-styling-of-an-html-button-submit */

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

*:focus {
    outline: none;
}


/*////////////////////  CHECKBOX  ////////////////////*/

.checkbox {
    display: none;
}


/*////////////////////  MENU  ////////////////////*/

.menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: var(--color-primary);
    transform: translateX(100%);
    z-index: 5;
    color: var(--color-white);
    transition: transform var(--transition-duration) var(--transition-curve);
}

.menu *::selection {
    background-color: var(--color-white);
    color: var(--color-primary);
}


.menu__link {
    list-style-type: none;
    text-decoration: none;
    margin: var(--margin-h4);
}

.checkbox--menu:checked ~ .menu {
    transform: translateX(0%);
}



/*////////////////////  CHECKBOX  ////////////////////*/
/*
.checkbox {
    display: none;
  }
  
  .checkbox--menu:checked ~ .menu {
    transform: translateX(0%);
  }
  
  .checkbox--menu:checked ~ .topbar .switch .topbar__icon {
    transform: translateX(0.175rem);
  }
  
  .checkbox--menu:checked ~ .topbar {
    background-color: transparent;
  }
  
  .topbar__contact {
    background-color: transparent;
    border: none;
    outline: none;
  }

*/
/*////////////////////  MENU  ////////////////////*/
/*
  .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    transform: translateX(-100%);
    background-color: var(--color-accent);
    z-index: 1;

    padding: 10rem 5rem 7.5rem 5rem;
  }
  
  .switch {
    width: 1.75rem;
    height: 1.75rem;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .switch .topbar__icon {
    transform: translateX(-1.5rem);
  }
  
  .menu__item {
    margin: 0 0 2rem 0;

  }
  
  .menu__link {
    color: var(--color-white);
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  .topbar__icon {
    cursor: pointer;
    color: var(--color-white);
    z-index: 5;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .topbar__icon--logo {
    font-weight: 700;
  }
  
  */