:root {
    --font-headline: ;
    --font-text-family: 'Atkinson Hyperlegible';
    --font-text-family-bold: 'Atkinson Hyperlegible Bold';
    --font-size-h1: 6.353701548rem;
    --font-size-h2: 3.926886rem;
    --font-size-h3: 2.427rem;
    --font-size-h4: 1.5rem;
    --font-size-p: 1.5rem;
    --font-size-small: 0.927070457rem;
    --color-primary: #3824f2;
    --color-secondary: #f2d024;
    --color-tertiary: #e62253;   
    --color-black: #000000;
    --color-white: #ffffff;
    --topbar-height: 10vh;

    --transition-duration: 500ms;
    --transition-curve: cubic-bezier(0.75, 0, 0.25, 1);

    --gutter: 1rem;
    --spacing-small: calc(var(--gutter) * 0.875); /*0.875rem;*gutter x amount*/
    --spacing-medium: calc(var(--gutter) * 1.5); /*1.5rem*/
    --spacing-large: calc(var(--gutter) * 3); /*3rem*/

    --icon-size--small: 2rem;
    --icon-size--medium: 3rem;
    --icon-size--large: ;
}   

@font-face {
    font-family: 'Atkinson Hyperlegible';
    src:    url('../Fonts/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2');
}

@font-face {
    font-family: 'Atkinson Hyperlegible Italic';
    src:    url('../Fonts/Atkinson-Hyperlegible-Italic-102a.woff2') format('woff2');
}

@font-face {
    font-family: 'Atkinson Hyperlegible Bold';
    src:    url('../Fonts/Atkinson-Hyperlegible-Bold-102a.woff2') format('woff2');
}

@font-face {
    font-family: 'Atkinson Hyperlegible Bold Italic';
    src:    url('../Fonts/Atkinson-Hyperlegible-BoldItalic-102a.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Atkinson Hyperlegible', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
}

/*////////////////////  SCROLLBAR  ////////////////////*/
/*
body::-webkit-scrollbar {
    width: 1em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: red;
    outline: 1px solid black;
  }
*/
/*////////////////////  DEFAULT HTML TEXT CLASSES  ////////////////////*/

h1 {
    font-family: var(--font-text-family-bold);
    font-size: var(--font-size-h1);
    line-height: 100%;
}

h2 {
    font-family: var(--font-text-family-bold);
    font-size: var(--font-size-h2);
}

h3 {
    font-family: var(--font-text-family-bold);
    font-size: var(--font-size-h3);
}

h4 {
    font-family: var(--font-text-family-bold);
    font-size: var(--font-size-h4);
    /*margin:  0 0 var(--spacing-medium) 0;*/
}

p {
    font-family: var(--font-text-family);
    font-size: var(--font-size-p);
}

a {
    font-family: var(--font-text-family-bold);
    font-size: var(--font-size-p);
    text-decoration: none;
}



/*.link:after {
    content: " 🡽";
}*/

.link:after {
    display: inline-block;
    content: url(../Icons/Arrow-Right.svg);
    background-image: url(../Icons/Arrow-Right.svg);
    width: 2rem;
    height: 2rem;
    vertical-align: -0.5rem;
    transform: rotate(-45deg);
}

.link-white:after {
    display: inline-block;
    content: url(../Icons/Arrow-Right.svg);
    width: var(--icon-size--small);
    height: var(--icon-size--small);
    vertical-align: -0.5rem;
    transform: rotate(-45deg);
    filter: invert(1);
}


a:link, a:visited, a:hover, a:active {
    color: inherit;
}

.fineprint {
    font-size: var(--font-size-small);
}
/* / / / CLASSES / / / */

.section {
    padding: var(--spacing-large) var(--spacing-medium);
}

.contact--margin {
    margin: 0rem 0rem var(--spacing-medium);
}



/* / / / CLASSES / / / */

body {
    height: 100vh;
    min-height: 100vh;
    padding-top: var(--topbar-height);
}


/*////////////////////  TOPBAR  ////////////////////*/

.topbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-black);
    color: var(--color-white);
    height: var(--topbar-height);
    width: 100%;
    z-index: 5;
    top: 0;
    padding: 1rem var(--spacing-medium);
}

.topbar::selection,.topbar *::selection {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*////////////////////  HEADER  ////////////////////*/

.header {
    background-color: var(--color-primary);
    color: var(--color-white);
    clip-path: inset(0 0 0 0);
    overflow: hidden;
    position: relative;
    height: 22rem;
    padding: var(--spacing-large) var(--spacing-medium) 0rem;
}

.header h1 {
    z-index: 10;
    position: relative;
}

.header *::selection {
    background-color: var(--color-white);
    color: var(--color-primary);
}

.header__image {
    /*display: flex;*/
    vertical-align: middle;
    position: absolute;
    bottom: -20%; /*calc( var(--topbar-height) + var(--font-size-p) );*/
    left: calc( var(--topbar-height) + var(--font-size-p) );
    z-index: 1;
    /*z-index: 10;*/
    clip-path: inset(0 0 0 0);
    overflow: hidden;
}

/*////////////////////  INTRODUCTION  ////////////////////*/

/*.introduction {
    background-color: var(--color-secondary);
    color: var(--color-black);
}

.introduction *::selection {
    background-color: var(--color-black);
    color: var(--color-secondary);
}*/

/*////////////////////  ABOUT  ////////////////////*/

.about {
    background-color: var(--color-white);
    color: var(--color-black);
}

.about *::selection {
    background-color: var(--color-black);
    color: var(--color-white);
}

.about h2 {
    color: var(--color-primary);
}

/*////////////////////  PROJECTS  ////////////////////*/

.projects {
    background-color: var(--color-black);
    color: var(--color-white);
}

.projects *::selection {
    background-color: var(--color-white);
    color: var(--color-black);
}

.projects a {
    color: black;
    background-color: white;
}

/*////////////////////  CONTACT  ////////////////////*/

.contact {
    background-color: var(--color-secondary);
    color: var(--color-black);
    
}

.contact *::selection {
    background-color: var(--color-black);
    color: var(--color-secondary);
}

.contact h2 {
    color: var(--color-tertiary);
}

.contact__form {
    /* next 3 lines allow button to be on the right */
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

/*////////////////////  FOOTER  ////////////////////*/

.footer {
    background-color: var(--color-black);
    color: var(--color-white);
}

.footer *::selection {
    background-color: var(--color-white);
    color: var(--color-black);
}

.footer__icon {
    fill: var(--color-white);
    height: var(--icon-size--medium);
    margin: 0 1rem 0 0;
}

.footer__iconbar {
    display: flex;
}


/*////////////////////  CONTACT INPUT  ////////////////////*/

.input {
    width: 100%;
    background-color: var(--color-tertiary);
    border-style: none;
    border-width: 0;
    font-family: var(--font-text-family);
    font-size: var(--font-size-p);
    color: var(--color-white);
  }

.input[type=submit] {
    width: 33%;
    max-width: 15rem;
    height: 3rem;
    background-color: var(--color-primary);
}

.textarea {
    width: 100%;
    background-color: var(--color-tertiary);
    border-style: none;
    border-width: 0;
    font-family: var(--font-text-family);
    font-size: var(--font-size-p);
    color: var(--color-white);

    resize: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    word-wrap: break-word;
    word-break: break-word;

}

::placeholder {
    color: var(--color-white);
    font-size: var(--font-size-p);
}



/* BUTTON https://stackoverflow.com/questions/2460100/remove-the-complete-styling-of-an-html-button-submit */

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

*:focus {
    outline: none;
}

/*////////////////////  CHECKBOX  ////////////////////*/

.checkbox {

    display: none;
}


/*////////////////////  MENU  ////////////////////*/

.menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: var(--color-primary);
    transform: translateX(100%);
    z-index: 5;
    color: var(--color-white);
    transition: transform var(--transition-duration) var(--transition-curve);
}

.menu *::selection {
    background-color: var(--color-white);
    color: var(--color-primary);
}


.menu__list {
    list-style-type: none;
    text-decoration: none;
    margin: 0 0 var(--spacing-medium) 0;
}

.menu__link {
    font-size: var(--font-size-h3);
}

.checkbox--menu:checked ~ .menu {
    transform: translateX(0%);
}

.checkbox--menu:checked ~ .topbar .menu--icon {
    transform: rotate3d(0, 1, 0, 180deg);
    /*transition-property: menu--icon-rotate;
    transition-duration: 1s;*/
    transition: transform var(--transition-duration) var(--transition-curve);
}

.menu--icon {
    transform: rotate3d(0, 1, 0, 0deg);
    /*transition-property: menu--icon-rotate;
    transition-duration: 1s;*/
    transition: transform var(--transition-duration) var(--transition-curve); 
}


.icon {
    width: var(--icon-size--medium);
    height: var(--icon-size--medium);
    fill: var(--color-white);
}

.icon--arrow__right {
    /*background-image:url("../Icons/Arrow-Right.svg");
    color: var(--color-white)*/
    /*outline: solid 1px white;
    background: var(--color-primary);
    mask-image: url("../Azubi-Website-Challenge/Icons/Arrow-Right.svg");
    -webkit-mask-image: url("../Azubi-Website-Challenge/Icons/Arrow-Right.svg");*/
}

/*////////////////////  SECTION SECONDARY / YELLOW  ////////////////////*/

.section--yellow {
    color: var(--color-black);
    background-color: var(--color-secondary);
}

.section--yellow *::selection {
    color: var(--color-secondary);
    background-color: var(--color-black);
}

.section--yellow h1 {
    color: var(--color-tertiary);
}

.section--yellow h1::selection {
    color: var(--color-secondary);
    background-color: var(--color-tertiary);
}

.section--yellow h2 {
    color: var(--color-tertiary);
}

.section--yellow h2::selection {
    color: var(--color-secondary);
    background-color: var(--color-tertiary);
}

.section--yellow h3 {
    color: var(--color-tertiary);
}

.section--yellow h3::selection {
    color: var(--color-secondary);
    background-color: var(--color-tertiary);
}

.section--yellow h4 {
    color: var(--color-tertiary);
}

.section--yellow h4::selection {
    color: var(--color-secondary);
    background-color: var(--color-tertiary);
}

.section--yellow p {

}

.section--yellow p::selection {
    color: var(--color-secondary);
    background-color: var(--color-black);
}

.section--yellow a {

}

.section--yellow a::selection {
    color: var(--color-secondary);
    background-color: var(--color-black);
}